@font-face {
    font-family: 'VCR';
    src: url("/fonts/vcr.ttf");
}

@font-face {
    font-family: 'PixelOperator';
    src: url("/fonts/PixelOperator.ttf");
}

::selection {
    background:#f094b7;
    color:#555;
}

::-moz-selection {
    background:#f094b7;
    color:#555;
}

::-webkit-selection {
    background:#f094b7;
    color:#555;
}

html{
    height: 100%;
}

body {
    background-color: #b1bb88;

    background: #eacda3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #eacda3 , #d6ae7b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #eacda3 , #d6ae7b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 

    color: rgba(40,40,40,1);
    padding-top: 70px;
    font-family: PixelOperator;
    font-size: 18px;
    
    margin: 0;
    min-height: 90%;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

.header{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 16px; 
    font-family: VCR;
    text-transform: uppercase;
}

.header h1{
    width: 3em;
    line-height: 0.9em;
    margin: 0 auto;
    font-size: 70px;
    
    animation-name: animateShadows; 
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: steps(5);
}

.header h1:hover{
    animation-iteration-count: infinite;
}

#pageNotFound{
    width: 100%;
    line-height: 0.9em;
    margin: 0 auto;
    font-size: 10vw;
    text-align: center;
    
    animation-name: animateShadows; 
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: steps(5);
    
    animation-iteration-count: infinite;
}

#pageNotFoundTag{
    font-family: VCR;
    margin: 0 auto;
    margin-top: 5px;
    width: 260px;
    word-spacing: 7px;
    letter-spacing: 7px;
}

#tag{
    margin: 0 auto;
    margin-top: -2px;
    width: 212px;
    word-spacing: 7px;
    letter-spacing: 7px;
}

.nav{
    text-align: center;
}

.header ul{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.header li{
    float:left;
    display: block;
    width: 120px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.header .spacing{
    width: 50px;
}

.header a{
    text-decoration: none;
}

.header a:hover{
    color: rgba(255, 255, 255, 0.5);
}

a{
    color: inherit;
}

.divider {
    margin: 10px;
    height: 1px;
    width: 90%;
    background-color: rgba(40,40,40,1);
}

.divider.header {
    margin: 0 auto;
    width: 100%;
}

h1, h2, h3, h4{
    font-family: VCR;
    text-transform: uppercase;
}

h1{
    font-size: 16px;
}

h2{
    font-size: 27px; 
}

h3{
    font-size: 18px; 
}

#nameLink:hover{
    color: rgba(40,40,40,1);
}

#contentContainer{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

#mainContent{
    display: inline-block;
    width: 70%;
    vertical-align: top;
    float: left; 
}

.projectContainer{
    margin-top: 20px;
    width: 90%;
    height: 140px;
    display: block;
    position: relative;
}

.projectImageContainer{
    display: inline-block;
    width: 200px;
    padding: 0px 20px 0px 10px;
    float: left;
}

.projectImage{
    width: 200px;
    height: 120px;
    background-size: contain;
    
    box-shadow:  3px 3px 7px rgba(0, 0, 0, 0.3); 
}

.projectImage:hover{
    box-shadow:  3px 3px 7px rgba(0, 0, 0, 0.2); 
}

.projectText{
    display: block;
    overflow: hidden;
}

.projectTitle{
    line-height: 0;
}

.projectDescription{
}

.projectView{
    position: absolute;
    bottom: 15px;
    right: 0px;
    font-family: VCR;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    width: 125px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.projectView:hover{
    color: rgba(255, 255, 255, 0.5);
}

#extraContent{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    float: right;
}

.skillBox{
    display: inline-block;
    width: 50%;
    margin-top: -20px;
    float: left;
}

#moreProjects{
    padding-top: 10px;
    text-align: center;
    font-family: VCR;
    text-transform: uppercase;
    font-weight: 600;
}

#moreProjects a{
    text-decoration: none;
}

#moreProjects a:hover{
    color: rgba(255, 255, 255, 0.5);
}

.pageContent{
    flex: 1;
}

.hidden{
    display: none;
}

.footer{
    height: 50px;
    width: 100%;
    
    
    font-size: 16px;
    text-align: center;
    font-family: VCR;
    text-transform: uppercase;
}


@media (max-width: 1000px) {
    .projectContainer{
        height: 220px;
    }
    
    .projectTitle{
        line-height: 1;
    }
    
    .projectImageContainer{
        margin-top: 25px;
    }
}

@media (max-width: 790px) {
    .header ul{
        width: 290px;
    }
    
    .header #shrinkSpacer{
        display: none;
    }
    
    #mainContent{
        display: block;
        width: 100%;
    }
    
    #extraContent{
        display: block;
        width: 100%;
    }
    
    .projectContainer{
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 595px) {
    .projectContainer{
        height: 350px;
        float: none;
    }
    
    .projectImageContainer{
        display: block;
        width: 300px;
        height: 180px;
        margin: 0 auto;
        float: none;
    }
    
    .projectImage{
        display: block;
        width: 300px;
        height: 180px;
    }
    
    .projectText{
        display: block;
        width: 100%;
    }
    
    #moreProjects{
        margin-bottom: 20px;
    }
    
    .hidden{
        display: block;
    }
    
    #pageNotFound{
        font-size: 100px;
    }
}

@media (max-width: 370px) {
    #contentContainer{
        margin: 0 auto;
        overflow: hidden;
        padding: 0px;
    }

}

@keyframes animateShadows {
    0% { text-shadow: 2px 0px 0px rgba(150, 50, 150, 1), -4px 0px 2px rgba(150, 50, 50, 1), 0px 4px 2px rgba(50, 50, 150, 1);   }
    20%{ text-shadow: -2px 2px 0px rgba(150, 50, 150, 1), 1px 0px 0px rgba(150, 50, 50, 1), 0px -4px 0px rgba(50, 50, 150, 1);  }
    60%{ text-shadow: 5px -4px 3px rgba(150, 50, 150, 1), 3px 0px 0px rgba(150, 50, 50, 1), 0px 6px 1px rgba(50, 50, 150, 1);  }
    80%{ text-shadow: 2px 4px 0px rgba(150, 50, 150, 1), 2px 0px 1px rgba(150, 50, 50, 1), 0px -4px 0px rgba(50, 50, 150, 1);  }
    100%{ text-shadow: 4px -3px 3px rgba(150, 50, 150, 1), 5px 0px 0px rgba(150, 50, 50, 1), 0px 2px 2px rgba(50, 50, 150, 1); }
}

/*Images*/
#noiseLogo{
    background-image: url(/res/noise-s.png);
}

#destructionLogo{
    background-image: url(/res/destruction-s.png);
    box-shadow:  3px 3px 7px rgba(0, 0, 0, 0.0); 
}

#killspillLogo{
    background-image: url(/res/killspill-s.png);
}

#racingLogo{
    background-image: url(/res/vitaar-s.png);
}

#railsLogo{
    background-image: url(/res/rails-s.png);
}

#terrainLogo{
    background-image: url(/res/terrain-s.png);
}

#beatmachineLogo{
    background-image: url(/res/beatmachine-s.png);
}

#websiteLogo{
    background-image: url(/res/wrench-s.png);
}

#islandLogo{
    background-image: url(/res/island-s.png);
}

#fraggerLogo{
    background-image: url(/res/fragger-s.png);
}

#equinoxLogo{
    background-image: url(/res/equinox-s.png);
}

#tetrixLogo{
    background-image: url(/res/tetrix-s.png);
}

#scbLogo{
    background-image: url(/res/scb-s.png);
}

#otherLogo{
    background-image: url(/res/other-m.png);
}
