::selection {
    background:#f094b7;
    color:#555;
}

::-moz-selection {
    background:#f094b7;
    color:#555;
}

::-webkit-selection {
    background:#f094b7;
    color:#555;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
    background-color: #E6e2db;
    text-align: center;
    font-family: 'Inter Tight', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    overflow-x: hidden;
}

.flag
{
    position: fixed;
    top: 0px;
    margin: 0;
    padding: 0;
    line-height: 0;;
}

.home
{
    left: 0px;
}

.live
{
    right: 0px;
}

div.box1
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px;
    background-color: #252525;
}

div.box1 .childbox
{
    text-align: left;
    padding-left: 15px;
}

.lightbox 
{
    background-color: #f1f1f1 !important;
}

div.box3
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-color: #252525;
    gap: 1px;
    margin: 0;
}

div.childbox
{
    background-color: #E6e2db;
    border-top: 1px solid #252525;
}

h2,h3,h4,span
{
    font-family: 'Inter Tight', sans-serif;
}

h1
{
    font-weight: 600;
    font-family: 'New Amsterdam', sans-serif;
    font-kerning:none;
    letter-spacing: 4px;
    font-size: 50pt;
    line-height: 0.8;
    color: #ebb0c6;
    display: inline-block;
    margin: 20px 10px;
}

h1.left
{
    text-shadow: 1px 1px 1px #252525,
        1px 2px 1px #252525,
        2px 3px 1px #252525,
        3px 4px 1px #252525,
        4px 5px 1px #252525,
        5px 6px 1px #252525,
        6px 7px 1px #252525,
        7px 8px 1px #252525,
        8px 9px 1px #252525,
        9px 10px 1px #252525;
}

h1.right
{
    text-shadow: -1px 1px 1px #252525,
        -1px 2px 1px #252525,
        -2px 3px 1px #252525,
        -3px 4px 1px #252525,
        -4px 5px 1px #252525,
        -5px 6px 1px #252525,
        -6px 7px 1px #252525,
        -7px 8px 1px #252525,
        -8px 9px 1px #252525,
        -9px 10px 1px #252525;
}

h2
{
    font-size: 26pt;
    line-height: 0.4;
}

h3
{
    font-size: 18pt;
    line-height: 0.4;
}

h4
{
    text-align: center;   
    font-size: 12pt;
    display: inline-block;
    width: 100%;
}

h4 img
{
    vertical-align: middle;
}

.creditbox
{
    height: 400px;
}

.creditimage
{
    height: 300px;
}

.creditimage img
{
    margin: 80px auto;
}

.creditinfo
{
    height: 99px;
    position: relative;
}

.creditinfo div
{
    display: inline;
}

.creditproject
{
    width: fit-content;
    position: absolute;
    top: 15px;
    left: 15px;
}

.credittitle
{
    width: fit-content;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.creditdate
{
    width: fit-content;
    position: absolute;
    top: 15px;
    right: 15px;
}

.endbox
{
    height: 100%;
}

@media (orientation:portrait) 
{    
    .empty
    {
        display: none;
    }

    div.box3
    {
        display: block;
    }
}

@media (max-width:380px) and (orientation:portrait) 
{    
    .creditdate
    {
        top: 40px;
    }
}

@media (max-width:1115px) and (orientation:landscape) 
{    
    .creditdate
    {
        top: 40px;
    }
}